<nz-layout>
  
    <nav
  class="navbar navbar-light bg-light"
  style="background-color: white !important;border-top-color: black;border-top-style:solid; border-top-width: thin; border-bottom-style: ridge; box-shadow:0px 5px 5px rgb(179, 179, 179);">

  <div>
    <a href="/home" > <img src="assets/main-cart.png" alt=""></a>
  </div>
  
  <div  style="margin-left: -50px;">
    <nz-button-group>
      <button nz-button >{{adminName}}</button>
      <button nz-button nz-dropdown [nzDropdownMenu]="menu2" nzPlacement="bottomRight">
        <i nz-icon nzType="user"></i>
      </button>
    </nz-button-group>
    <nz-dropdown-menu #menu2="nzDropdownMenu">
      <ul nz-menu>
        <li (click)="navigateBackToLoginPage()" nz-menu-item>Log Out</li>
       
      </ul>
    </nz-dropdown-menu>

    
</div>
</nav>



    <nz-content class="outer-content"> 
      <!-- <h1 class="font-weight-normal text-center">Admin Dashboard</h1> -->
      <nz-layout class="inner-layout">

        <nz-sider nzWidth="200px" nzCollapsible [(nzCollapsed)]="isCollapsed" >
          <ul nz-menu nzMode="inline" class="sider-menu"[nzInlineCollapsed]="isCollapsed" nzTheme="dark" >
            
            <li nz-menu-item [routerLink]="'dashboard'" style="font-weight: 700;">
              <i nz-icon nzType="dashboard"></i>
              <span>Dashboard</span>
            </li>

            <!-- <li nz-menu-item [routerLink]="'admin-user'">
              <i nz-icon nzType="user"></i>
              <span><b>Users</b></span>
            </li> -->

            <li nz-submenu nzTitle="User" nzIcon="user" style="font-weight: 700;">
              <ul>
               <a [routerLink]="'admin-user'"><li nz-menu-item>List</li></a>
               <a [routerLink]="'add-user'" ><li nz-menu-item>Add</li></a>
               </ul> 

            </li>



            
            <li nz-submenu nzTitle="Products" nzIcon="user" style="font-weight: 700;">
              <ul>
               <a [routerLink]="'product'"><li nz-menu-item>List</li></a>
               <a [routerLink]="'add-product'" ><li nz-menu-item>Add</li></a>
               </ul> 

            </li>
            <li nz-submenu nzTitle="Category"  nzIcon="laptop" style="font-weight: 700;">
            <ul>
              <a [routerLink]="'category'"><li nz-menu-item>List</li></a>
              <a [routerLink]="'add-category'"><li nz-menu-item>Add</li></a>
              </ul>
            </li>
         
            <li nz-submenu nzTitle="Transactions" nzIcon="transaction" style="font-weight: 700;">
              <ul>
                <a [routerLink]="'transactions'"><li nz-menu-item>Total Transactions</li></a>
                <a [routerLink]="'generate-report'"><li nz-menu-item>Generate Report</li></a>
                <!-- <a [routerLink]="'user'"><li nz-menu-item>User Transactions</li></a> -->
              </ul>
            </li>
            <li nz-menu-item [routerLink]="'setting'">
              <i nz-icon nzType="setting"></i>
              <span><b>Setting</b></span>
            </li>
          </ul>
        </nz-sider>
        <nz-content class="inner-content">
         <router-outlet></router-outlet>
        </nz-content>
       
      </nz-layout>
      <nz-footer>Implement By Stepway &copy; 2020</nz-footer>
    </nz-content>
   </nz-layout>


          






   