<nz-layout>
  
    <nav
  class="navbar navbar-light bg-light"
  style="background-color: white !important;border-top-color: black;border-top-style:solid; border-top-width: thin; border-bottom-style: ridge; box-shadow:0px 5px 5px rgb(179, 179, 179);">

  <div>
    <a> <img src="assets/main-cart.png" alt=""></a>
  </div>
  
  <div  style="margin-left: -50px;">
    <nz-button-group>
      <button nz-button >{{adminName}}</button>
      <button nz-button nz-dropdown [nzDropdownMenu]="menu2" nzPlacement="bottomRight">
          <i class="fa fa-user" style="margin-right: 0px;"></i>
        <!-- <i nz-icon nzType="user"></i> -->
      </button>
    </nz-button-group>
    <nz-dropdown-menu #menu2="nzDropdownMenu">
      <ul nz-menu>
        <li (click)="navigateBackToLoginPage()" nz-menu-item><i class="fa fa-power-off"></i>Logout</li>
       
      </ul>
    </nz-dropdown-menu>

    
</div>
</nav>



    <nz-content class="outer-content"> 
      <!-- <h1 class="font-weight-normal text-center">Admin Dashboard</h1> -->
      <nz-layout class="inner-layout">

        <nz-sider nzWidth="200px" nzCollapsible [(nzCollapsed)]="isCollapsed" >
          <ul nz-menu nzMode="inline" class="sider-menu"[nzInlineCollapsed]="isCollapsed" nzTheme="dark" >
            
            <li nz-menu-item [routerLink]="'dashboard'" style="font-weight: 700;">
                <i class="fa fa-tachometer"></i>

              <!-- <i nz-icon nzType="dashboard"></i> -->
              <span>Dashboard</span>
            </li>

            <!-- <li nz-menu-item [routerLink]="'admin-user'">
              <i nz-icon nzType="user"></i>
              <span><b>Users</b></span>
            </li> -->
            
<!-- 
            <li nz-submenu nzTitle="User"  style="font-weight: 700;" >
              <ul>
               <a [routerLink]="'admin-user'"><li nz-menu-item>View</li></a>
               <a [routerLink]="'add-user'" ><li nz-menu-item>Add</li></a>
               </ul> 

            </li> -->


            


            <div class="row">
                <div class="col-md-1" style="margin-top: -9px;  margin-left: 23px;">
                   <i class="fa fa-archive"></i>
                </div>
                <div class="col-md-11" style="margin-left: -34px;">
                  <li nz-submenu nzTitle="Products"  style="font-weight: 700;">
                    <div class="row">
                        <ul>
                        <a [routerLink]="'product'"><li nz-menu-item>All Products</li></a>
                        <a [routerLink]="'add-product'" ><li nz-menu-item>Add Products</li></a>
                        </ul> 
                    </div>

                  </li>
                </div>
          </div>
          <div class="row">
              <div class="col-md-1" style="margin-top: -9px; margin-left: 23px;">
                  <i class="fa fa-list-ul"></i>
              </div>
              <div class="col-md-11" style="margin-left: -34px;">
                <li nz-submenu nzTitle="Category"  style="font-weight: 700;">
                    <div class="row">
                      <ul>
                        <a [routerLink]="'category'"><li nz-menu-item>All Categories</li></a>
                        <a [routerLink]="'add-category'"><li nz-menu-item>Add Category</li></a>
                      </ul>
                  </div>
                </li>
              </div>
            </div>

            <div class="row">
                <div class="col-md-1" style="margin-top: -9px; margin-left: 23px;">
                    <i class="fa fa-credit-card"></i>
                </div>
                <div class="col-md-11" style="margin-left: -34px;">
                    <li nz-submenu nzTitle="Transactions"  style="font-weight: 700;">
                      <div class="row">
                          <ul>
                            <a [routerLink]="'transactions'"><li nz-menu-item style="padding-left: 0px!important;">Total Transactions</li></a>
                            <!-- <a [routerLink]="'user'"><li nz-menu-item>User Transactions</li></a> -->
                          </ul>
                      </div>
                    </li>
                  </div>
              </div>
            <li nz-menu-item [routerLink]="'setting'">
                <i class="fa fa-cog"></i>
              <!-- <i nz-icon nzType="setting"></i> -->
              <span><b>Setting</b></span>
            </li>
          </ul>
        </nz-sider>
        <nz-content class="inner-content">
         <router-outlet></router-outlet>
        </nz-content>
       
      </nz-layout>
      <nz-footer>Implement By Stepway &copy; 2020</nz-footer>
    </nz-content>
   </nz-layout>


          






   