/* .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
  } */
  i {
    margin-right: 10px;
  }

  .header-menu {
    line-height: 64px;
  }

 
  nz-sider{
    height:1400px;
  }
  nz-breadcrumb {
    margin: 16px 0;
  }

  .inner-layout {
    /* padding: 24px 0; */
    background: #fff;
  }

  .sider-menu {
    height: 105%;
  }

  .inner-content {
    padding: 20px 24px;
    min-height: 280px;
  }

  nz-footer {
    text-align: center;
    height: 69.5px;

  }
  .logo {
    width: 120px;
    height: 31px;
    /* background: rgba(255, 255, 255, 0.2); */
    /* margin: 16px 24px 16px 0; */
    float: left;
  }

  [nz-menu] {
    line-height: 64px;
  }







/*  */

