.global-search-item {
    display: flex;
  }

  .global-search-item-desc {
    flex: auto;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .global-search-item-count {
    flex: none;
  }
  #cardShadow{
    /* border: 1px solid; */
    box-shadow: 5px 10px 18px #888888;
    
  }