<nz-content>
  <nz-breadcrumb> </nz-breadcrumb>
  <div class="inner-content">
    <div nz-row>
     
      <div nz-col nzSpan="3">
        <h2>Cart :</h2>
      </div>
      <div nz-col nzSpan="2">
        <img src="assets/cartCheckout.png" />
      </div>
      <div nz-col nzSpan="4" nzOffset="10">
      <button nz-button nzType="danger" (click)="showModal2()">
        <span>Request For Product</span>
      </button>
      <nz-modal
        [(nzVisible)]="isVisible2"
        nzTitle="Request For Product"
        (nzOnCancel)="handleCancel()"
        (nzOnOk)="postProduct()"
        [nzOkDisabled]="disableButton()"
        [nzOkLoading]="isOkLoading"
        nzOkText="Submit"
      >
      <input nz-input placeholder="Request For Product" name="requestedProductName" [(ngModel)]="checkOutObj.name" />
      </nz-modal>
    </div>
 
     
    </div>
    <hr style="color: black;" />

    <div style="height: 520px; overflow-y: scroll;">
      <div>
        <div *ngFor="let data of checkoutProductsArray">
          <nz-card nzHoverable style="width:100%">
            <div nz-row>
              <div nz-col nzSpan="4">
                <nz-avatar
                  [nzShape]="'square'"
                  [nzSize]="64"
                  [nzSrc]="data.productImage"
                  [nzIcon]="'user'"
                ></nz-avatar>
              </div>
              <div nz-col nzSpan="4" nzOffset="1">
                <h4 nz-title style="font-size: 15px;">
                  {{ data.productTitle }}
                </h4>
              </div>
              <div nz-col nzSpan="3" nzOffset="1">
                <h4 nz-title style="font-size: 15px;">
                  Price: {{ data.productPrice }}
                </h4>
              </div>
              <div nz-col nzSpan="6" style="font-size: 15px;">
                <h4>
                  Quantity: {{ data.productQuantity }}
                  <nz-button-group>
                    <button nz-button (click)="addProduct(data)">
                      <i nz-icon nzType="plus"></i>
                    </button>
                    <button nz-button (click)="removeProduct(data)">
                      <i nz-icon nzType="minus"></i>
                    </button>
                  </nz-button-group>
                </h4>
              </div>

              <div
                nz-col
                nzSpan="3"
                nzOffset="1"
                (click)="removeProductFromCheckout(data)"
              >
                <img src="assets/icons8-delete-bin-24.png" />
              </div>
            </div>
          </nz-card>
        </div>
      </div>
    </div>

    <hr style="color: black;" />
    <div nz-row>
      <div nz-col nzSpan="12" style="margin-top: 10px;">
        <h1>
          <b>Total: {{ total }}</b>
        </h1>
      </div>
      <div nz-col nzSpan="6" nzOffset="6">
        <button nz-button nzType="danger" (click)="showModal()">
          Checkout
        </button>
        <nz-modal
          [(nzVisible)]="isVisible"
          nzTitle="Checkout"
          nzOkText="Print"
          nzCancelText="Continue"
          (nzOnOk)="print()"
          (nzOnCancel)="handleCancel()"
        >
          <h3>Thanks For Shopping.!</h3>
        </nz-modal>
      </div>
    </div>
  </div>
</nz-content>

<div id="print-section" [hidden]="true">
  <div class="container">
    <h2>Order Slip</h2>
    <table class="table table-striped">
      <thead>
        <th *ngFor="let col of cols" style="text-align: center; ">
          {{ col.header }}
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let data of checkoutProductsArray" style="overflow: auto; ">
          <td>{{ data.productTitle }}</td>
          <td>{{ data.printProductPrice }}</td>
          <td>{{ data.productQuantity }}</td>
          <td>{{ data.productPrice }}</td>
        </tr>
      </tbody>
    </table>
    <div>
      <hr style="border:1px solid black;width:100%;" />
      <span
        ><b> Total: </b> <span style="margin-left:83%;">{{ total }}</span></span
      >
      <hr style="border:1px solid black;width:100%;" />
    </div>
  </div>
</div>
