<nz-content>
  <nz-breadcrumb> </nz-breadcrumb>
  <div class="inner-content">
    <div nz-row>
     
      <div nz-col nzSpan="3">
        <h2>Cart :</h2>
      </div>
      <div nz-col nzSpan="2">
        <img src="assets/cartCheckout.png" />
      </div>
      <div nz-col nzSpan="4" nzOffset="10">
      <button nz-button nzType="danger" (click)="showModal2()">
        <span>Request For Product</span>
      </button>
      <nz-modal
        
        [(nzVisible)]="isVisible2"
        nzTitle="Request For Product"
        (nzOnCancel)="handleCancel()"
        (nzOnOk)="postProduct()"
        [nzOkDisabled]="disableButton()"
        [nzOkLoading]="isOkLoading"
        nzOkText="Submit"
      >
      <!-- <input nz-input placeholder="Request For Product" name="requestedProductName" [(ngModel)]="checkOutObj.name" /> -->
      <div class="example-input">
        <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixIconButton">
          <input
            placeholder="Request For Product"
            nz-input
            [(ngModel)]="checkOutObj.name"
            (input)="onChange($event)"
            [nzAutocomplete]="auto"
          />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSize="large" nzSearch>
            <i nz-icon nzType="search" nzTheme="outline"></i>
          </button>
        </ng-template>
        <nz-autocomplete #auto>
          <nz-auto-option class="global-search-item" *ngFor="let option of options" [nzValue]="option.name">
            Found &nbsp; <b>{{ option.name || uppercase }}</b> &nbsp; on &nbsp;
           
            <span class="global-search-item-count"><b>{{ option.countName }}</b> &nbsp; results</span>
          </nz-auto-option>
        </nz-autocomplete>
      </div>  
    </nz-modal>
    </div>
 
     
    </div>
    <hr style="color: black;" />

    <div style="height: 520px; overflow-y: scroll;">
      <div>
        <div *ngFor="let data of checkoutProductsArray">
          <nz-card nzHoverable style="width:100%">
            <div nz-row>
              <div nz-col nzSpan="4">
                <nz-badge [nzCount]="data.productQuantity">
                <nz-avatar
                  [nzShape]="'square'"
                  [nzSize]="64"
                  [nzSrc]="data.productImage"
                  [nzIcon]="'user'"
            
                ></nz-avatar>
              </nz-badge>
              </div>
              <div nz-col nzSpan="4" nzOffset="1">
                <h4 nz-title style="font-size: 15px;">
                  {{ data.productTitle }}
                </h4>
              </div>
              <div nz-col nzSpan="3" nzOffset="1">
                <h4 nz-title style="font-size: 15px;">
                  Price: {{ data.productPrice }}
                </h4>
              </div>
              <div nz-col nzSpan="6" style="font-size: 15px;">
                <h4>
                  <!-- Quantity: {{ data.productQuantity }} -->
                  <nz-button-group>

                    <!-- Add Buttons -->
                    <button #btn nz-button  *ngIf="checkingQunatity(data)" (click)="addProduct(data)">
                      <i nz-icon nzType="plus"></i>
                    </button>


                    <button #btn1 nz-button  disabled *ngIf="!checkingQunatity(data)" >
                      <i nz-icon nzType="plus"></i>
                    </button>


                    <!--End of Add Buttons  -->



                    <!-- Minus Buttons -->

                    <button     nz-button (click)="removeProduct(data)">
                      <i nz-icon nzType="minus"></i>
                    </button>


                   


                    <!-- End of Minus Buttons -->
                  </nz-button-group>
                </h4>
              </div>

              <div
                nz-col
                nzSpan="3"
                nzOffset="1"
                (click)="removeProductFromCheckout(data)"
              >
                <img src="assets/icons8-delete-bin-24.png" />
              </div>
            </div>
          </nz-card>
        </div>
      </div>
    </div>

    <hr style="color: black;" />
    <div nz-row>
      <div nz-col nzSpan="12" style="margin-top: 10px;">
        <h1>
          <b>Total: {{ total }}</b>
        </h1>
      </div>
      <div nz-col nzSpan="6" nzOffset="6">
        <button nz-button nzType="danger" (click)="showModal()">
          Checkout
        </button>
        <nz-modal
          [(nzVisible)]="isVisible"
          nzTitle="Checkout"
          nzOkText="Print"
          nzCancelText="Continue Shopping "
          (nzOnOk)="print()"
          (nzOnCancel)="handleCancel()"
        >
          <h3>Thanks For Shopping.!</h3>
        </nz-modal>
      </div>
    </div>
  </div>
</nz-content>

<div id="print-section" [hidden]="true">
<div style="text-align: center;"   >
  <img   *ngIf="(chekingSetting && settingHeader.logo != 'undefined' )" [src]="settingHeader.logo" style="height: 100px; width: 100px;" alt="Hello">
</div>
<br> 
<div  *ngIf="(chekingSetting && settingHeader.header  != 'undefined')" style="text-align: center; margin-bottom: 50px;" >
  <!-- <p class="bd-highlight font-weight-bold">{{settingHeader.header}}</px > -->
    <h2 nz-title>{{settingHeader.header}}</h2>
</div>

  <div class="container">
    <!-- <h2 style="text-align: center; margin-bottom: 15px;">Order Slip</h2> -->
    
    <table class="table table-striped">
      <thead>
        <th *ngFor="let col of cols" style="text-align: center; ">
          {{ col.header }}
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let data of checkoutProductsArray" style="overflow: auto; ">
          <td>{{ data.productTitle }}</td>
          <td>{{ data.printProductPrice }}</td>
          <td>{{ data.productQuantity }}</td>
          <td>{{ data.productPrice }}</td>
        </tr>
      </tbody>
    </table>
    <div>
      <hr style="border:1px solid black;width:100%;" />
      <span
        ><b> Total: </b> <span style="margin-left:83%;">{{ total }}</span></span
      >
      <hr style="border:1px solid black;width:100%;" />
    </div>
  </div>

  
    <div *ngIf=" (chekingSetting && settingHeader.footer  != 'undefined')" style="text-align: center; margin-top: 70px;" >
      <!-- <p class="bd-highlight font-weight-bold">{{settingHeader.header}}</px > -->
        <h2 nz-title>{{settingHeader.footer}}</h2>
    
  </div>
</div>
