<div style="width: 25%; float:right;"> 
<div class="example-input">
  <nz-input-group nzSize="large" [nzSuffix]="suffixIcon" > 
  <input
      placeholder="Search Products"
      nz-input
      [(ngModel)]="inputValue"
      (ngModelChange)="onChange($event)"
      [nzAutocomplete]="auto"
    />
  </nz-input-group>
  <ng-template #suffixIcon>
    <i nz-icon nzType="search"></i>
  </ng-template>
  <nz-autocomplete #auto>
    <nz-auto-option  *ngFor="let option of searchProduct" [nzValue]="option.name">
     <span ><b>Category: {{option.category.name}}</b></span>
      <br>
       <div>
        Item:{{ option.name}}<img style="width: 40px; height: 40px; margin-left: 40px;" [src]="option.image" >
      </div>
     </nz-auto-option>
  </nz-autocomplete>
</div>
<br>
</div>
<h4 style="text-transform:capitalize;">{{categoryHeader}}</h4>
<nz-card style="width: 100%; overflow-y: scroll; overflow-x: none; height:500px;">
  <div nz-row>
    <div nz-col nzXs="24" nzSm="24" nzMd="5" nzLg="5" nzXl="5" nzSpan="5" nzOffset="1" *ngFor="let p of productsArray">
      <nz-card
        #CARD
        nzHoverable
        style="width:160px"
        [nzCover]="coverTemplate"
        [nzSize]="small"
        (click)="sendProducttoCheckout(p,CARD)"
        id ="cardShadow"
      >
        <nz-card-meta [nzTitle]="" [nzDescription]="" style="text-align: center;"></nz-card-meta>
          <div class="row">
              <div style="margin-left: 0px;"><b>{{p.name | uppercase}}</b></div>
          </div>
          <div class="row">
             <div class="col-md-4 ">
                <div style="    margin-left: -14px;  font-size: 11px;"><b >{{p.variants}}</b></div>
             </div>
             <div class="col-md-8">
                <div><nz-tag [nzColor]="'#f50a0a'" style="margin-left: 20px;"> &#8360; {{p.price}}</nz-tag></div>
              </div>
            </div>
           <!-- <div style="text-align:center; margin-left: 0px;"><b>{{p.name | uppercase}}</b></div>
          <div style="text-align:center; margin-left: 0px;"><b>{{p.variants}}</b></div>
           <div><nz-tag [nzColor]="'#f50a0a'" style="margin-left: 20px;"> &#8360; {{p.price}}</nz-tag></div>   -->

      </nz-card>
      <div >
        <ng-template #coverTemplate>
          <img #image  [src]="p.image" height="120px" width="80px" />
        </ng-template>
      </div>
      <br />
    </div>
  </div>
</nz-card>