

<div style="margin-left: 3%; margin-top: 7px;">
  <nz-card style="width:90%;" nzTitle="Add Products" [nzExtra]="extraTemplate" style="box-shadow:5px 5px 5px 5px">

    <form nz-form [nzLayout]="'inline'" #myForm="ngForm" autocomplete="auto" >


      <!-- Firsst Two Row -->
      <div>




        <nz-form-item>
          <nz-form-label nzFor="email">Product Title</nz-form-label>
          <br>
          <nz-form-control nzErrorTip="Please input your Product Title!">
            <nz-input-group nzPrefixIcon="project">
              <input nz-input required name="productTitle" #title="ngModel" [(ngModel)]="addProducts.productTitle"
                placeholder="Product Title" required />
            </nz-input-group>



          </nz-form-control>
        </nz-form-item>




        <nz-form-item>
          <nz-form-label nzFor="email">Variant</nz-form-label>
          <br>
          <nz-form-control nzErrorTip="Please input your Product variants!">



            <div class="example-input">
              <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixIconButton" style="margin-left:10px">
                <input placeholder="Variants" nz-input #variants name="variants" required
                  [(ngModel)]="addProducts.variants" (input)="onChange($event)" [nzAutocomplete]="auto"
                  style="width: 440px;" />
              </nz-input-group>
              <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSize="large" nzSearch style="height: 40px;">
                  <i nz-icon nzType="search" nzTheme="outline"></i>
                </button>
              </ng-template>
              <nz-autocomplete #auto>
                <nz-auto-option class="global-search-item" *ngFor="let option of options" [nzValue]="option.variants">
                  {{ option.variants }}

                  <span class="global-search-item-count"></span>
                </nz-auto-option>
              </nz-autocomplete>
            </div>



          </nz-form-control>
        </nz-form-item>



      </div>

      <!-- Firsst Two Row -->




      <!-- 2nd Row -->
      <div>
        <nz-form-item class="nz-group">
          <nz-form-label nzFor="email">Cost Price</nz-form-label>
          <br>
          <nz-form-control nzErrorTip="Please input your Cost Price!">
            <nz-input-group nzPrefixIcon="dollar">
              <input type="number" minlength="1" maxlength="4" required #costPrice="ngModel" name="costPrice"
                [(ngModel)]="addProducts.costPrice" nz-input placeholder="Cost Price" required />
            </nz-input-group>


          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="nz-group">
          <nz-form-label nzFor="email">Product Price</nz-form-label>
          <br>
          <nz-form-control nzErrorTip="Please input your Product Price!">
            <nz-input-group nzPrefixIcon="dollar" style="margin-left:10px">
              <input type="number" minlength="1" maxlength="4" required #saleprice="ngModel" name="salePrice"
                [(ngModel)]="addProducts.salePrice" nz-input placeholder="Sale Price" required />
            </nz-input-group>


          </nz-form-control>
        </nz-form-item>
      </div>

      <!--  2nd Row -->



      <!-- 3rd  Row -->
      <div nz-row>
        <div nz-col nzSpan="5" class="nz-group">
          <nz-form-label nzFor="email">Product Quantity</nz-form-label>
          <br>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Product Quantity!">
              <nz-input-group nzPrefixIcon="account-book">
                <input  [disabled]="switchValue" style="width: 300px;" type="number" minlength="1" maxlength="4"  #productQuantity="ngModel"
                  name="productQuantity" [(ngModel)]="addProducts.productQuantity" nz-input
                  placeholder="Product Quantity" />
              </nz-input-group>

            </nz-form-control>
          </nz-form-item>

        </div>
        <div nz-col nzOffset="2" nzSpan="4" class="nz-group">
          <nz-form-label nzFor="email">Infinite</nz-form-label>
          <br>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Product Quantity!">
              <nz-switch name="switchValue" (ngModelChange)="switchChanged()" [(ngModel)]="switchValue"></nz-switch>

            </nz-form-control>
          </nz-form-item>

        </div>












        <div nz-col nzSpan="10" style="margin-left: 88px;" class="nz-group">
          <nz-form-item>

            <nz-form-control>
              <nz-form-label nzFor="email">Category</nz-form-label>
              <br>
              <nz-select name="category" nzSize="large" [(ngModel)]="addProducts.category" class="phone-select"
                nzPlaceHolder="Select a Category" required>
                <nz-option *ngFor="let item of categories" nzLabel={{item.name}} nzValue="{{item.name}}"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>


      </div>
      <!-- 3rd  Row -->



      <!-- 4th Row -->
      <div nz-row class="nz-group">
        <!-- <br> -->

        <div nz-col nzSpan="15">
          <nz-form-control>
            <div class="row">
              <label style="padding: 5px;
  background: grey;
  display: table;
  color: #fff;
  font-size: smaller;
  margin-left: 3%;
 ">Select Image
                <input #files type="file"
                  (change)="handleCategoryBanner($event.target.files); preview($event.target.files)" name="image"
                  accept=".jpeg,.png,.jpg,.PNG" style="display: none;cursor: pointer;">
              </label>
              <nz-avatar  *ngIf="Checker" style="margin-left: 5%;" [nzShape]="'square'" [nzSrc]="imgURL" [nzSize]="150" nzText="Product">
              </nz-avatar>
            </div>
          </nz-form-control>

        </div>









        <!-- Button -->

        <div nz-col nzSpan="4" nzSpan="8" style="margin-left: 950px;">
          <!-- <div style="text-align: center;"> -->
          <nz-form-item>
            <nz-form-control>

              <button style="margin-top: 30px; height: 40px; width: 100px;" nz-button nzType="primary" [nzSize]="large"
                (click)="submit(myForm)" [disabled]="isInputValid(myForm)">Save</button>

            </nz-form-control>
          </nz-form-item>
          <!-- </div> -->
        </div>
        <!-- Button -->

      </div>
    </form>
  </nz-card>
</div>
