<form nz-form [nzLayout]="'inline'" #myForm="ngForm">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Product Title!">
      <nz-input-group nzPrefixIcon="user" class="nz-group">
        <input required name="productTitle" #title="ngModel" [(ngModel)]="addProducts.productTitle" nz-input
          placeholder="Product Title" required />
      </nz-input-group>
     
      <div *ngIf="title.touched && title.invalid">
        Title is Required
      </div>

    </nz-form-control>
  </nz-form-item>
  <br>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Product Price!">
      <nz-input-group nzPrefixIcon="user" class="nz-group">
        <input required #costprice="ngModel" name="costPrice" [(ngModel)]="addProducts.costPrice" nz-input type="text"
          placeholder="Cost Price" required />
      </nz-input-group>

      <div *ngIf="costprice.touched && costprice.invalid">
      Cost Price is Required
      </div>
    </nz-form-control>
  </nz-form-item>
<br>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Product Price!">
      <nz-input-group nzPrefixIcon="user" class="nz-group">
        <input required #saleprice="ngModel" name="salePrice" [(ngModel)]="addProducts.salePrice" nz-input type="text"
          placeholder="Sale Price" required/>
      </nz-input-group>

      <div *ngIf="saleprice.touched && saleprice.invalid">
      Sale Price is Required
      </div>
    </nz-form-control>
  </nz-form-item>
  <br>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Product Price!">
      <nz-input-group nzPrefixIcon="user" class="nz-group">
        <input required #productQuantity="ngModel" name="productQuantity" [(ngModel)]="addProducts.productQuantity" nz-input type="text"
          placeholder="Product Quantity" required />
      </nz-input-group>
      <div *ngIf="productQuantity.touched &&  productQuantity.invalid">
        Product Qunaity is Required
      </div>
    </nz-form-control>
  </nz-form-item>
<br>
  <nz-form-item>
    <!-- <h5 style="margin-top: 5px;">Category: </h5> -->
    <nz-form-control class="nz-group">
      <nz-select name="category" [(ngModel)]="addProducts.category" class="phone-select" nzPlaceHolder="Select a Category" required >
        <nz-option *ngFor="let item of categories" nzLabel={{item.name}}  nzValue={{item.id}}></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <br>
  <nz-form-item>
  <input type="file"(change)="handleCategoryBanner($event.target.files)" name="image" id="" style="margin-top: 10px;" required>
  </nz-form-item>
  <br>
  <nz-form-item>
    <nz-form-control class="nz-group">
      <button nz-button nzType="primary" (click)="submit(myForm)" [disabled]="myForm.invalid" >Save</button>
    </nz-form-control>
  </nz-form-item>
</form>