<nz-layout style=" height: 100%;">

  <nz-sider nzCollapsible [(nzCollapsed)]="CollapsedNav" [nzTrigger]="null" style="min-width:200px;max-width:200px  " >
    <div class="logo" style="height:50px; background-color:#001529; width: 200px; margin-left: 15px;">
      <img src="assets/main-cart.png"  />
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="true">
      <li nz-submenu [nzTitle]="c.name"   *ngFor="let c of categoriesArray" (click)="addCategoryToUrl(c.name)"
        >
        <ul>
          <li *ngFor="let item of getSubCategoriesById(c.id)" (click)="addCategoryToUrl(item.name)" nz-menu-item>{{item.name}}</li>

        </ul>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-content>

      <div >
        <nz-header>
          <ul nz-menu nzTheme="light" nzMode="horizontal" style="padding: -2px; margin: auto; height: 55px;">

            <div style="margin-left: 90%;">
              <nz-button-group>
                <button nz-button>{{userName}}</button>
                <button nz-button nz-dropdown [nzDropdownMenu]="menu2" nzPlacement="bottomRight">
                    <i class="fa fa-user-circle"></i>

                  <!-- <i nz-icon nzType="user"></i> -->
                </button>
              </nz-button-group>
              <nz-dropdown-menu #menu2="nzDropdownMenu">
                <ul nz-menu>
                  <li (click)="navigateBackToLoginPage()" nz-menu-item><i class="fa fa-power-off" style="margin-right: 10px;"></i>Logout</li>

                </ul>
              </nz-dropdown-menu>


            </div>
            <!-- </nav> -->
          </ul>
        </nz-header>
      </div>







      <div class="inner-content" style="height: 100%;" >
        <div nz-col nzSpan="16">
          <app-product-listing></app-product-listing>
        </div>
        <div nz-col nzSpan="7" nzOffset="1">
          <app-checkout></app-checkout>
        </div>
      </div>
      <nz-footer>Implement By Stepway &copy; 2020</nz-footer>
    </nz-content>
  </nz-layout>
</nz-layout>
