<div style="text-align: center;"> 
  <nz-date-picker
  [nzDisabledDate]="disabledStartDate"
  
  nzFormat="yyyy-MM-dd "
  [(ngModel)]="startValue"
  nzPlaceHolder="Start"
  (ngModelChange)="onStartChange($event)"
  (nzOnOpenChange)="handleStartOpenChange($event)"
>
</nz-date-picker>
<nz-date-picker
  [nzDisabledDate]="disabledEndDate"
 
  nzFormat="yyyy-dd-MM "
  [(ngModel)]="endValue"
  nzPlaceHolder="End"
  [nzOpen]="endOpen"
  (ngModelChange)="onEndChange($event)"
  (nzOnOpenChange)="handleEndOpenChange($event)"
>
</nz-date-picker>
</div><nz-table #basicTable1 [nzData]="transactionDetails" [nzShowPagination]="false">
    <thead>
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Created By</th>
        
       
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data1 of basicTable1.data">
        <td>{{data1.date}}</td>
        <td>{{data1.amount}}</td>
        <td>{{data1.createdBy}}</td>
        
        
      </tr>
    </tbody>
  </nz-table>