<nz-table #basicTable [nzData]="categories">
    <thead>
      <tr>
        <th>Name</th>
        <th>Icon</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.name}}</td>
        <td><img style="width: 20px; height: 20px;" [src]="data.image"></td>
        <td>
          <a (click)="deleteCategory(data)">Delete</a>
          <br>
          <a (click)="updateCategory(data.id)">Edit</a>
        </td>
      </tr>
    </tbody>
  </nz-table>