<div style="margin-left: 2%; margin-top: 7px;">
  <nz-card style="width:90px;" nzTitle="Category Add" style="box-shadow: 1px 0px 12px -4px">
    <form nz-form [nzLayout]="'inline'" #myForm="ngForm">

      <div nz-row>
      <div nz-col nzSpan="10">
        <div nz-row>
          <nz-form-label nzFor="email">Category Name</nz-form-label>
        </div>
        <div nz-row>
          <input required ngform #category="ngModel" name="productTitle" [(ngModel)]="add_categories.name"
            nz-input placeholder="Category Name" />

        </div>
      </div>

    </div>


      <nz-form-label nzFor="email">Image</nz-form-label>

      <div nz-row class="nz-group">


        <div nz-col nzSpan="15">
          <nz-form-control>
            <div class="row">
              <label style="
              padding-left: 6px;
              padding-right: 6px;
              background: #393f5bfc;
              display: table;
              color: #fff;
              font-size: smaller;
              margin-left: 3%;
              border-radius: 12px;
              ">Select Image
                <input #files type="file"
                  (change)="handleCategoryBanner($event.target.files); preview($event.target.files)" name="image"
                  accept=".jpeg,.png,.jpg,.PNG" style="display: none;cursor: pointer;" required>
              </label>
              <nz-avatar *ngIf="avatarDisplay" style="margin-left: 5%;" [nzShape]="'square'" [nzSrc]="imgURL"
                [nzSize]="90" nzText="Product">
              </nz-avatar>
            </div>
          </nz-form-control>

        </div>

      </div>

      <div nz-row style="margin-top: 20px;">

        <div nz-col nzSpan="10">
          <div nz-row>
            <div nz-col nzSpan="12">
              <label (change)="changeSubCategory()" name="parent" nz-checkbox [(ngModel)]="isParent">Is Subcategory?</label>
              <div nz-col *ngIf="isParent" nzSpan="11" >

            </div>
          </div>

        </div>
        </div>

      </div>
      <div nz-row>
        <div nz-col nzSpan="12" *ngIf="isParent" >
          <nz-form-control>
       <nz-form-label nzFor="email">Category</nz-form-label>
       <br>
       <nz-select name="category" nzSize="large" [(ngModel)]="selectedCategory" class="phone-select"
         nzPlaceHolder="Select a Category" required>
         <nz-option *ngFor="let item of categories" nzLabel={{item.name}} nzValue="{{item.id}}"></nz-option>
       </nz-select>
     </nz-form-control>
       </div>
      </div>

      <div nz-row>

        <nz-form-item>
          <nz-form-control>

            <button style="margin-top: 30px; height: 40px; width: 100px;" nz-button nzType="primary" [nzSize]="large"
              (click)="submit(myForm)" [disabled]="isInputValid(myForm)">Save</button>

          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
</nz-card>
</div>








