.login-form {
    max-width: 300px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
  input{
    width:500px; 
    height: 40px;
    /* margin-top: 50px; */
  }
  .nz-group{
    margin-top: 5px;
  }