<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


<div style="margin-left: 3%; margin-top: 80px;">
    <nz-card style="width:98%;" nzTitle="Header and Footer" [nzExtra]="extraTemplate" style="box-shadow:5px 5px 5px 5px">

        <form nzForm #myForm="ngForm" style="margin-top: 50px;">


            <nz-form-item>
                <nz-form-control>
                    <div nz-row>

                        <!-- <div nz-col nzSpan="12">
                            <nz-form-label  nzFor="email">Header Name</nz-form-label>
                            <nz-input-group nzPrefixIcon="user" class="nz-group">
                                <input type="text" name="headerName" nz-input [(ngModel)]="settingObj.headerName"
                                    placeholder="HeaderName">
                            </nz-input-group>



                        </div> -->
                        <div nz-col nzSpan="12">
                            <nz-form-label  nzFor="email">Header</nz-form-label>

                            <nz-input-group nzPrefixIcon="user" class="nz-group">
                                
                                <textarea style="height: 50px;padding-top: 15px;" nz-input placeholder="header" name="header" [(ngModel)]="settingObj.header"
                                    [nzAutosize]="{ minRows: 1, maxRows: 6 }"></textarea>
                            </nz-input-group>
                        </div>




                    </div>
                </nz-form-control>
            </nz-form-item>
            <br>





            <nz-form-item>

                <nz-form-control>
                    <div nz-row>
                        <div nz-col nzSpan="12">
                            <nz-form-label  nzFor="email">Footer</nz-form-label>
                            <nz-input-group nzPrefixIcon="user" class="nz-group">
                                 
                                <textarea nz-input placeholder="footer" style="height: 50px;padding-top: 15px;" name="footer" [(ngModel)]="settingObj.footer"
                                    [nzAutosize]="{ minRows: 1, maxRows: 6 }"></textarea>
                            </nz-input-group>
                        </div>


                        <div nz-col nzSpan="12">
                            <nz-form-label  nzFor="email">Logo</nz-form-label>
<br>
                            <input type="file" name="Logo" id="" (change)="handleLogo($event.target.files)">
                        </div>


                        

                    </div>

                </nz-form-control>
            </nz-form-item>










                       

             


            <nz-form-item>
                <nz-form-control>
                    <div nz-row>
                        <!-- <div nz-col nzSpan="8" nzOffset="5" style="float: left;"></div> -->

                        <div nz-col nzSpan="24" style="margin-left: 500px;  ">
                            <button nz-button nzType="primary" (click)="submitSetting(myForm)">Submit</button>
                        </div>






                    </div>
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-card>
</div>
</body>
</html>