
<div nz-row>
  <div nz-col nzSpan="12" nzOffset="10">
<h1>Transactions</h1>
</div>
</div>
<br>
<div nz-row>
  <div nz-col nzSpan="12" nzOffset="7">
<nz-date-picker
[nzDisabledDate]="disabledStartDate"
nzShowTime
nzFormat="yyyy-MM-dd"
[(ngModel)]="startValue"
nzPlaceHolder="Start"
(ngModelChange)="onStartChange($event)"
(nzOnOpenChange)="handleStartOpenChange($event)"
>
</nz-date-picker>
<nz-date-picker
[nzDisabledDate]="disabledEndDate"
nzShowTime
nzFormat="yyyy-MM-dd"
[(ngModel)]="endValue"
nzPlaceHolder="End"
[nzOpen]="endOpen"
(ngModelChange)="onEndChange($event)"
(nzOnOpenChange)="handleEndOpenChange($event)"
>
</nz-date-picker>
  </div>
</div>
<!-- <button type="submit" value="Search" style="margin-left: 40%;">Search</button> -->
<div nz-row>
  <div nz-col nzSpan="4" nzOffset="8">
<button nz-button nzType="primary"  nzShape="round">
  <i nz-icon nzType="search"></i>Search</button>
  </div>
  <div nz-col nzSpan="4" nzOffset="">
    <button nz-button nzType="primary"  nzShape="round" (click)="exportexcel()">
      <i nz-icon nzType="export"></i>Export</button>
      </div>
  </div>
<nz-table #basicTable id="table1"[nzData]="Transactions">
    <thead>
      <tr>
        <th>Date</th>
        <th>User</th>
        <th>Amount</th>
        <th>Created by</th>
        <th>Updated by</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.date }}</td>
        <td>{{ data.user?data.user:"Null" }}</td>
        <td>{{ data.amount }}</td>
        <td>{{ data.createdBy }}</td>
        <td>{{ data.updatedBy }}</td>
        <td>
          <a (click)="deleteTransactions(data.id)">Delete</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="detailsTransactions(data.id)">Details</a>
        </td>
      </tr>
    </tbody>
  </nz-table>