<div style="text-align: center; margin-bottom: 10px;"   >  
  
 
  <nz-date-picker
  [nzDisabledDate]="disabledStartDate"
  
  nzFormat="yyyy-MM-dd "
  [(ngModel)]="startValue"
  nzPlaceHolder="Start"
  (ngModelChange)="onStartChange($event)"
  (nzOnOpenChange)="handleStartOpenChange($event)"
>
</nz-date-picker>
<nz-date-picker
  [nzDisabledDate]="disabledEndDate"
 
  nzFormat="yyyy-dd-MM "
  [(ngModel)]="endValue"
  nzPlaceHolder="End"
  [nzOpen]="endOpen"
  (ngModelChange)="onEndChange($event)"
  (nzOnOpenChange)="handleEndOpenChange($event)"
>
</nz-date-picker>


<button style="margin-left: 250px;" (click)="backToDashboard()" nz-button nzType="primary">Back</button>




</div>
      

<nz-table #basicTable1 [nzData]="detailedOutOfStockProducts" [nzShowPagination]="false">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Quantity</th>
       
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data1 of basicTable1.data">
        <td>{{data1.name}}</td>
        <td>{{data1.qty}}</td>
        
        
      </tr>
    </tbody>
  </nz-table>