<div style="text-align: right;"> <button nz-button nzType="primary"  (click)="backToDashboard()" >Back</button></div>
<div style="text-align: left; margin-bottom: 15px; margin-top: 8px; " > 
   
  <nz-range-picker [(ngModel)]="dateRange" (ngModelChange)="onChange($event)" ></nz-range-picker>
<button nz-button nzType="primary" style="margin-left: 30px;" (click)="print()" >Filter</button>

  </div>

<nz-table #basicTable1 [nzData]="detailedOutOfStockProducts" [nzShowPagination]="false">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Quantity</th>
       
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data1 of basicTable1.data">
        <td>{{data1.name}}</td>
        <td>{{data1.qty}}</td>
        
        
      </tr>
    </tbody>
  </nz-table>