
p {
    margin: 0;
  }


  nz-card{
    cursor: pointer;
   
  }
  nz-date-picker {
    margin: 0 8px 12px 0;
  }
  nz-progress {
    margin-right: 8px;
    margin-bottom: 8px;
    display: inline-block;
    
  }
  [nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
  }
  