<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body >



 
  <div style="text-align: center; margin-bottom: 15px;"> 
   
  <nz-range-picker [(ngModel)]="dateRange" ></nz-range-picker>
<button nz-button nzType="primary" style="margin-left: 30px;" (click)="print()" >Filter</button>
  </div>
   
  
 


  
  <div style="background: #ECECEC;padding:10px;">
    <div nz-row [nzGutter]="6">
      <div nz-col [nzSpan]="6">
        <nz-card nzTitle="Total Products"  (click)="showModalTotalProducts()">
        
          <h1 style="text-align: center;">{{totalProducts}}</h1>  
          

        </nz-card>
      </div>
      
      
      <div nz-col [nzSpan]="6">
        <nz-card nzTitle="Out of Stock" (click)="showModalOutOfStock()">
          <h1 style="text-align: center;">{{totalOutOfStockProducts}}</h1>
        </nz-card>
      </div>
      
      <div nz-col [nzSpan]="6" >
        <nz-card nzTitle="Total Transacation" (click)="showModalTotalTransactions()">
          <h1 style="text-align: center;">{{totalAmount }}</h1>
        </nz-card>
      </div>
    

    <div nz-col [nzSpan]="6" >
      <nz-card nzTitle="Profit">
        <h1 style="text-align: center;">100%</h1>
      </nz-card>
    </div>
  </div>


    <div nz-row [nzGutter]="8" style="margin-top: 10px;" >

        <div nz-col [nzSpan]="16" >


            <nz-card   [nzBordered]="false" nzTitle="Sale Analysis" [nzExtra]="extraTemplate" style="widows: 100px; ">
                <x-chartist id="chartist"
                *ngIf="showChart"

                [type]="type"
                [data]="data"
                [options]="options"
                [events]="events"

              ></x-chartist>
              </nz-card>
        </div>


        <div nz-col [nzSpan]="8" >
          <nz-card   nzTitle="Requested Products" >
            <nz-table #basicTable [nzData]="reqProducts" [nzShowPagination]="false">
              <thead>
                <tr>
                  <th>Product Name</th>
                  <th>Count</th>
                 
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of basicTable.data">
                  <td>{{data.name}}</td>
                  <td>{{data.countName}}</td>
                  
                  
                </tr>
              </tbody>
            </nz-table>
          </nz-card>

        </div>
    </div>


  </div>

</body>
</html>



  <!-- <nz-modal 
  [(nzVisible)]="isTotalProductsVisibleModal"
   nzTitle="Details Of Products" 
   (nzOnCancel)="handleCancelTotalProducts()"
    (nzOnOk)="handleOkTotalProducts()">
  

    
  </nz-modal> -->


  <!-- <nz-modal 

      [(nzVisible)]="isOutOfStockVisibleModal" 
      nzTitle="Out Of Stock Products" 
      (nzOnCancel)="handleCancelOutOfStock()" 
      (nzOnOk)="handleOkOutOfStock()">
  




      <nz-table #basicTable1 [nzData]="detailedOutOfStockProducts" [nzShowPagination]="false">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Quantity</th>
           
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data1 of basicTable1.data">
            <td>{{data1.name}}</td>
            <td>{{data1.qty}}</td>
            
            
          </tr>
        </tbody>
      </nz-table>



  </nz-modal> -->



  <!-- <nz-modal 

  [(nzVisible)]="isTotalTransactionModalVisible" 
  nzTitle="TotalTransactions" 
  (nzOnCancel)="handleCancelTotalTransaction()" 
  (nzOnOk)="handleOkTotalTransaction()">

</nz-modal> -->

  <!-- YE TOP ROW HAI -->

